:root{
    font-family: Verdana, sans-serif;
    color: #5e5e5e;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(247 247 247);
}

img{
    display: block;
    max-width: 100%;
}

main, main + footer{
    display: block;
    margin: 0 auto;
    padding: 1rem 3rem;
    background-color: white;
    max-width: 55rem;
    min-height: 90vh;
}

main + footer{
    min-height: initial;
    padding: 1rem 3rem;
    background-color: #dedeff;
}

.menu{
    display: block;
    margin: 0;
    padding: 1rem;
}

.menu li{
    display: inline-block;
    margin: 0 1rem 0 0;
}

.menu a{
    color: inherit;
}

.menu a:hover{
    color: #ff5e00;
}

.menu a.current{
    color: #ff5e00;
    font-style: italic;
    text-decoration: none;
    font-weight: 600;
}

h1{
    font-size: 1.5rem;
    margin: 4rem 1rem;
    text-align: center;
}

section header{
    margin: 1rem 0;
}

p{
    max-width: 55rem;
    text-indent: 3rem;
    margin: 1rem 0 2rem 0;
    display: flex;
    align-items: center;
}

p img{
    margin: 0 1rem;
}

.image-education{
    margin: 0;
}

.my-description img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    object-fit: cover;
}

.my-description:nth-child(2n+3) img{
    order: -1;
}

.carriere-item{
    margin: 3rem 0 4rem 0;
}

h2{
    font-size: 1.1rem;
    text-align: center;
}

figure{
    padding: 0;
    width: 16rem;
    margin: 0 auto;
}

figure.large{
    width: initial;
}

figcaption{
    color: #8293a3;
    font-size: .8rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    padding: 0 1rem;
}

.realisation-container {
    width: 40rem;
    margin: 0 auto;
    padding: 0;
}

.realisation-container p{
    text-indent: 1rem;
    background-color: #eaf2fa;
    padding: 1rem;
    border-radius: 1rem;
    color: #5e5e5e;
}

.realisation-container li:nth-child(2n) p{
    background-color: #f1f1f1;
}

form{
    width: 35rem;
    margin: 0 auto;
}

form fieldset{
    display: flex;
    flex-flow: column;
    border: none;
    align-items: flex-start;
    margin: 1rem 0;
} 

form label{
    width: 20rem;
    padding: .25rem .5rem;
    cursor: pointer;
    margin: 0 0 .5rem 0;
}
form input, form textarea{
    padding: 0.25rem 1rem;
    line-height: 2;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid #afbece;
    outline: none;
    max-width: 100%;
}

form input:focus, form textarea:focus{
    border: 1px solid rgb(255 159 67);
    background-color: #fffdf8;
}

form input[type="submit"] {
    background-color: #4f4fff;
    color: white;
    border-color: #4f4fff;
    place-self: flex-end;
    cursor: pointer;
}